@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  background-color: rgb(232, 232, 232) !important;
  /* image rectangles */
  /* Animace pro pozadí */
}
body .image:after, body .thumbnail:after {
  content: ""; /* Prázdný obsah pro SVG */
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background-image: url("/media/logo/TR_logo_Asset 4.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
  pointer-events: none;
  z-index: 10;
}
body .navbar {
  background-color: rgb(232, 232, 232) !important;
}
body .nav-item {
  text-align: center;
}
body .content {
  margin: 20px auto;
  max-width: 80vw;
}
body .section {
  padding-top: 3rem;
}
body .text, body a, body b, body i, body p, body h1, body h2, body h3, body h4, body h5, body h6, body label, body input, body ::placeholder {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  color: rgb(77, 77, 77);
}
body .hr-blue {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5px;
  border-bottom: solid rgb(0, 98, 166) 1px;
}
body .text:not(:last-child) {
  margin-bottom: 1rem;
}
body .text.no-bp {
  margin-bottom: 0rem;
}
body .fs66 {
  font-size: 2.64vw;
}
body .fs36 {
  font-size: 1.44vw;
}
body .fs20 {
  font-size: 0.96vw;
}
body .fs15 {
  font-size: 0.6vw;
}
body .fsp0 {
  letter-spacing: 0px;
}
body input::placeholder, body textarea::placeholder {
  font-size: 0.8vw;
  font-style: italic;
  color: rgb(0, 98, 166);
}
body .fw900 {
  font-weight: 900;
}
body .fw600 {
  font-weight: 600;
}
body .fw500 {
  font-weight: 500;
}
body .fw400 {
  font-weight: 400;
}
body .fw300 {
  font-weight: 300;
}
body .fw200 {
  font-weight: 200;
}
body .fw100 {
  font-weight: 100;
}
body .blue {
  color: rgb(0, 98, 166);
}
body .blue-bg {
  background-color: rgb(0, 98, 166);
}
body .white {
  color: rgb(232, 232, 232);
}
body .white-bg {
  background-color: rgb(232, 232, 232);
}
body .black {
  color: rgb(77, 77, 77);
}
body .flex {
  display: flex;
  width: 100%;
}
body .flex .align-top {
  justify-content: flex-start;
}
body .flex .align-bottom {
  justify-content: flex-end;
}
body .flex .drow {
  flex-direction: row;
}
body .c100, body .c33, body .c40, body .c20, body .c60, body .c50, body .c25 {
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: left;
}
body .c100 {
  width: 100%;
}
body .c50 {
  width: 50%;
}
body .c33 {
  width: 100%;
}
body .c40 {
  width: 40%;
}
body .c20 {
  width: 20%;
}
body .c25 {
  width: 25%;
}
body .c60 {
  width: 60%;
}
body .c100 {
  width: 100%;
}
body .jc-c {
  justify-content: center;
  text-align: center;
}
body .jc-l {
  justify-content: start;
  text-align: left;
}
body .jc-r {
  justify-content: end;
  text-align: right;
}
body nav .container-fluid {
  padding-left: 3%;
  padding-right: 3%;
}
body nav .logo {
  max-height: 50px;
  height: 50px;
}
body .tab {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .tab .tab-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body .tab .tab-row.narrow {
  display: flex;
  flex-direction: row !important;
  width: 100%;
}
body .tab .tab-row.narrow .c50 {
  width: 50%;
  padding: 0px;
}
body .tab .tab-row:first-child {
  margin-top: 3rem;
}
body .tab .tab-row:not(.borderless) {
  padding: 2rem 0px;
  border-top: solid rgb(186, 186, 186) 1px;
}
body .tab .tab-row.borderless {
  padding: 0.1rem 0px;
}
body .contact-form input:not(.form-check-input), body .contact-form textarea {
  width: 100%;
  min-height: 3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgb(0, 98, 166) 1px;
  border-radius: 0px;
  line-height: 1.5rem;
  background-color: transparent;
}
body .main-button {
  background-color: transparent;
  color: rgb(0, 98, 166);
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid rgb(0, 98, 166);
  height: fit-content;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
body .main-button .bi {
  margin-left: 0.5rem;
  color: rgb(0, 98, 166);
}
body .m0 a, body .m0 b, body .m0 p, body .m0 i {
  margin: 0px;
}
body .np {
  padding: 0px;
}
body .btn-container {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: end;
}
body .btn-container.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .project-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
body .project-grid .preview {
  position: relative;
  display: block;
  width: 50%;
}
body .project-grid .preview .image {
  overflow: hidden;
  position: relative;
  top: 0%;
}
body .project-grid .preview img {
  max-width: 100%;
  aspect-ratio: 6/4;
  object-fit: fill;
}
body .project-grid .preview .label {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0.5rem;
  display: flex;
  justify-items: start;
}
body .project-grid .preview .label .year {
  color: white;
  padding-right: 1rem;
}
body .project-grid .preview .label .text {
  color: white;
}
body a.inherit {
  text-decoration: none;
}
body .avatar img {
  max-width: 100%;
  border-radius: 5px;
}
body .image-rectangles {
  position: relative;
  display: inline-block;
  max-height: 32vw;
  height: 32vw;
  overflow: hidden;
}
body .image-rectangles .r1, body .image-rectangles .r2, body .image-rectangles .r3, body .image-rectangles .r4 {
  background-color: rgb(232, 232, 232);
  position: absolute;
}
body .image-rectangles img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  bottom: 25%;
}
body .image-rectangles .r1 {
  top: 0;
  right: 0;
  width: 24vw;
  height: 8vw;
}
body .image-rectangles .r2 {
  top: 8vw;
  right: 0;
  width: 8vw;
  height: 8vw;
}
body .image-rectangles .r3 {
  top: 16vw;
  right: 8vw;
  width: 8vw;
  height: 8vw;
}
body .image-rectangles .r4 {
  top: 24vw;
  right: 0;
  width: 8vw;
  height: 8vw;
}
body .image-rectangles .headline {
  position: absolute;
  font-size: 3.3vw;
  color: white;
  top: 75%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 5vw;
  /* Animace pozadí */
}
body .image-rectangles .headline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* Průsvitné pozadí */
  transform: translateX(-100%); /* Skryté zleva */
  animation: slide-in 1s forwards; /* Animace */
}
body .image-rectangles .headline .text {
  color: white;
  text-shadow: 2px 2px 10px black;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%); /* Začíná mimo obrazovku */
  }
  to {
    transform: translateX(0); /* Posune se zpět na pozici */
  }
}
body .gallery {
  display: flex;
  flex-wrap: wrap; /* Obrázky se budou zabalovat na další řádek */
  justify-content: center;
  justify-items: center;
}
body .gallery a {
  width: 50%;
}
body .gallery .thumbnail {
  width: 100%;
  position: relative;
  top: 0;
  overflow: hidden;
}
body .gallery .thumbnail img {
  aspect-ratio: 6/4;
  object-fit: cover;
}
body .gallery .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.64vw;
  font-weight: 600;
  color: rgb(0, 98, 166);
}
body .gallery .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #footbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-top: 2rem;
}
body #footbar .evalytics {
  height: 1rem;
}
body #footbar .logo img {
  height: 3rem;
}
body .container-404 {
  min-height: 80vh;
  display: flex; /* Aktivace Flexboxu */
  flex-direction: column; /* Umožňuje vertikální uspořádání */
  justify-content: center; /* Vertikální centrování obsahu */
  align-items: center; /* Horizontální centrování obsahu */
}
body .container-404 .logo {
  width: 100%;
  display: block;
  text-align: center;
  padding: 2rem;
}
body .container-404 .logo img {
  max-width: 200px; /* Maximální šířka obrázku */
  width: 100%; /* Obrázek se přizpůsobí šířce kontejneru */
  height: auto; /* Udržuje poměr stran */
}
body .container-404 .msg {
  width: 100%;
  text-align: center;
  font-size: 2.64vw; /* Přizpůsobení velikosti textu */
  font-weight: 600; /* Nastavení tloušťky písma */
  color: rgb(0, 98, 166); /* Barva textu */
}
body .no-padding {
  padding: 0px !important;
}

@media screen and (max-width: 992px) {
  body .content {
    margin: 20px auto;
    max-width: 95vw;
  }
  body .fs66 {
    font-size: 6vw;
  }
  body .fs36 {
    font-size: 4.05vw;
  }
  body .fs20 {
    font-size: 3.3vw;
  }
  body .fs15 {
    font-size: 3vw;
  }
  body nav .container-fluid {
    padding-left: 3%;
    padding-right: 3%;
  }
  body nav .logo {
    max-height: 50px;
    height: 50px;
  }
  body .flex {
    display: block;
  }
  body .c100, body .c60, body .c40, body .c33, body .c20, body .c50, body .c25 {
    display: block;
    width: 100%;
    padding: 1rem 0px;
  }
  body .tab {
    display: flex;
  }
  body .tab .tab-row {
    padding: 1rem 0px;
    flex-direction: column;
  }
  body .tab .tab-row .c40, body .tab .tab-row .c60, body .tab .tab-row .c50, body .tab .tab-row .c25 {
    width: 100%;
  }
  body .tab .tab-row .c40 {
    padding: 0px 0px 1rem 0rem;
  }
  body .tab .tab-row .c60 {
    padding: 0px 0px 0px 0rem;
  }
  body .flex .drow {
    flex-direction: column;
  }
  body .project-grid .preview {
    width: 100%;
  }
  body .project-grid .preview .image {
    max-height: 1000px;
    height: auto;
  }
  body .c25.jc-r, body .c25.jc-l {
    text-align: center;
  }
  body .nm {
    display: none;
  }
  body .gallery a {
    width: 100%;
  }
  body input::placeholder, body textarea::placeholder {
    font-size: 2.4vw;
    font-style: italic;
  }
  body .nav-item:first-child {
    margin-top: 2rem;
  }
  body .navbar-collapse {
    border-bottom: solid 1px rgb(186, 186, 186);
  }
  body .avatar {
    text-align: center;
  }
  body .avatar img {
    max-width: 50%;
    justify-content: center;
  }
}