#footbar
	//	
		.c100.jc-c
				.logo
					img(src="/media/logo/TR_logo_Asset 3.svg" alt="Transformace Reality")
		.c25.nm        
		.c25.jc-r
			.fs20 Transformace Reality s.r.o.
			.fs20 Stankovského 1285/42, 250 88 Čelákovice
		.c25.jc-l
			.fs20 !{phone}
			.fs20 info@transformacereality.cz
		.c25.nm
	.c100.jc-c
		.fs15 &copy; Transformace Reality s.r.o. 2024
		.creator
			.fs15 Web by 
			a.fs15.inherit(href="https://www.evalytics.cz" target="_blank")
				img.evalytics(alt="Evalytics s.r.o." src="/media/evalytics-logo.svg")

