#footbar
	.c100.jc-c
		.sponsor-panel
			img.eu(src="/media/eu.webp" alt="Financováno Evropskou unií NextGenerationEU")
			img.eu(src="/media/npo.webp" alt="Národní plán obnovy")
			img.eu(src="/media/mk.webp" alt="Ministerstvo kultury")
		.fs20.disclaimer Projekt č.0461002138 s názvem "Návrh značky realitní kancelář a návrh webu" byl financován Evropskou unií - Next generation EU v rámci Výzvy č. 0461 - Kreativní vouchery II v rámci Národního plánu obnovy - iniciativa Kreativní vouchery komponenty 4.5. Rozvoj kulturního a kreativního sektoru.
		br
		br
		.fs15 &copy; Transformace reality s.r.o. 2024
		br
		.creator
			.fs15 Web by 
			a.fs15.inherit(href="https://www.evalytics.cz" target="_blank")
				img.evalytics(alt="Evalytics s.r.o." src="/media/evalytics-logo.svg")