#footbar
	.c100.jc-c
		.fs15 &copy; Transformace reality s.r.o. 2024
		br
		.creator
			.fs15 Web by 
			a.fs15.inherit(href="https://www.evalytics.cz" target="_blank")
				img.evalytics(alt="Evalytics s.r.o." src="/media/evalytics-logo.svg")