extends layout

block content
	- var url = "/media/images/orfeus_002.webp";
	- var headline = "Stavíme na <u>tradicích</u>,<br>měníme budoucnost.";
	- var alt = "Multifunkční dům Orfeus";
	include rectimg.pug
	- var preview = true;	
	include poslani-template.pug
	#projekty.section
		- var total = 2;
		include projekty-grid.pug
	#sluzby.section
		h1.blue.fw600.fs66 Služby
		.tab
			each sluzba in sluzby.full
				.tab-row
					.c40.no-padding
						.text.fs20.fw600 !{sluzba.header}
					.c60.no-padding
						.text.fs20.fw300 !{sluzba.text}	
	include kontakt.pug