- var i = 1;
.project-grid
	each projekt in (projekty.sort((a,b) => a.rank > b.rank ? 1 : a.rank < b.rank ? -1 : 0))
		a.preview.inherit(href="/projekty/" + projekt.id)
			.image
				img(src="/media/images/" + projekt.preview.url alt = projekt.preview.label)
			.label
				.year.fs20 !{projekt.preview.year}
				.text.fs20 !{projekt.preview.label}
		- i++;
		- if(total && i > Number(total)) break;
	if(total && total < projekty.length)
		.btn-container
			a.fs20.main-button(href="/projekty") další projekty
				i.bi.bi-arrow-right